html {
    scroll-behavior: smooth; 
  }
body {
    font-family: 'Lobster', cursive;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.container {
    margin: 20px auto;
    width: 1024px;
    line-height: 1.4;
    background-color: rgb(243, 238, 238);
    box-shadow: 60px -16px rgb(180, 207, 207);
}
.two-parts {
    display: flex;
}
.left-part {
    width: 40%;
    color: black;
    background-color: rgb(136, 169, 169);
}
header { 
    text-align: center;
    padding: 10px;
    background-color: rgb(136, 169, 169);
}
header img {
    border: 5px solid rgb(243, 238, 238);
}
header h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
}
header h2 {
   font-size: 24px;
   font-weight: 300;
   line-height: 1.3;
}
main {
    padding: 0px;

}
main .contacts h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
   }

.menu {
    list-style-type: none;
    padding-left: 20;
    margin-left: 20;
}
.menu a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display:inline-block;
    padding: 10px, 30px;
    background-color: rgb(243, 238, 238);
    border-bottom: 5px solid rgb(180, 207, 207);
    border-right: 5px solid rgb(180, 207, 207);
}
.menu li {
    display: inline;
}
li a:hover:not(.active) {
    background-color: #ddd;
}

.about-myself {
 margin: 20px;
 border: 5px solid rgb(136, 169, 169);
} 
.about-myself h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: 40px;
    font-size: 30px;
}
.about-myself p {
    margin-left: 10px;
}
.education {
    margin: 20px;
    border: 5px solid rgb(136, 169, 169);   
}
.education h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: 40px;
    font-size: 30px;
}
.skills {
    margin: 20px;
    border: 5px solid rgb(136, 169, 169);
}
.skills h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: 40px;
    font-size: 30px;
}
pre {
    margin: 20px;
    border: 5px solid rgb(136, 169, 169);
    margin-top: 20px;
    padding-left: 30px;
    font-size: 0.6rem;
    background-color: #cba961;
}
.code-example h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: 40px;
    font-size: 30px; 
}
.languages {
    margin: 20px;
    border: 5px solid rgb(136, 169, 169);
}
.languages h3 {
    text-align: center;
    text-decoration: underline;
    margin-top: 40px;
    font-size: 30px; 
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    color: #060606;
    background-color: white;
}
.my-github-page {
    display: flex;
    align-items: center;
}
footer .icon-github {
    margin-right: 5px;
}

